
.home {
    &__heading {
        max-width: 300px;
        margin: auto;
        border-bottom: 3px solid #4db6ac;
        margin-bottom: 20px;

        h3 {
            color: #495057;
        }
    }
}

.home__img {
    width:100%;
    height: auto;
    max-height: calc(100vh - 80px);
    overflow: hidden;
    background-image: radial-gradient(#007eff, #22d13e);
    img {
        width:100%;
        height: auto;
        opacity: 0.8;
    }   
}

@media only screen and (max-width: 440px) {
    .container.home {
        margin-top: 200px;
    }
}

@media only screen and (min-width: 441px) and (max-width: 519px) {
    .container.home {
        margin-top: 150px;
    }
}

@media only screen and (min-width: 520px)  and (max-width: 610px) {
    .container.home {
        margin-top: 100px;
    }
}