
.home {
    &__heading {
        max-width: 300px;
        margin: auto;
        border-bottom: 3px solid #4db6ac;
        margin-bottom: 20px;
    }
}

.home__img {
    width:100%;
    height: auto;
    max-height: calc(100vh - 80px);
    overflow: hidden;
    background-image: radial-gradient(#007eff, #22d13e);
    img {
        width:100%;
        height: auto;
        opacity: 0.8;
    }   
}