.signup {
    margin-top: 50px;
    margin-bottom: 100px;

    & .row {
        margin-bottom: 0;
    }

    .signup__form {
        input[type=text] {
            color: #fff;
        }
    
        input[type=text] + label {
            opacity: .1;
            transition: all .3s;
        }

        input[type=text]:focus + label {
            opacity: 1;
        }
    }
}

@media only screen and (min-width: 500px) {
    .signup  .card {
        width: 320px;
    }
}