
.login {
    margin-top: 50px;
    margin-bottom: 100px;

    .login__form {
        input[type=text] {
            color: #fff;
        }
    
        input[type=text]:focus + label {
            color: #fff;
        }
    }
}